@import "tailwindcss";
@plugin '../helpers/hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-10: 236, 241, 255;
  --color-primary-20: 217, 228, 255;
  --color-primary-30: 197, 214, 255;
  --color-primary-40: 178, 200, 255;
  --color-primary-50: 159, 187, 255;
  --color-primary-60: 140, 173, 255;
  --color-primary-70: 121, 159, 255;
  --color-primary-80: 101, 145, 255;
  --color-primary-90: 82, 132, 255;
  --color-primary-100: 63, 118, 255;
  --color-primary-200: 57, 106, 230;
  --color-primary-300: 50, 94, 204;
  --color-primary-400: 44, 83, 179;
  --color-primary-500: 38, 71, 153;
  --color-primary-600: 32, 59, 128;
  --color-primary-700: 25, 47, 102;
  --color-primary-800: 19, 35, 76;
  --color-primary-900: 13, 24, 51;

  --color-error-10: 255 252 252;
  --color-error-20: 255 247 247;
  --color-error-30: 255, 219, 220;
  --color-error-100: 244 170 170;
  --color-error-200: 220 62 62;
  --color-error-500: 140 51 58;

  --color-background-100: 255, 255, 255; /* primary bg */
  --color-background-90: 247, 247, 247; /* secondary bg */
  --color-background-80: 232, 232, 232; /* tertiary bg */

  --color-background-primary: var(--color-primary-10);
  --color-background-error: var(--color-error-20);

  --color-text-100: 23, 23, 23; /* primary text */
  --color-text-200: 58, 58, 58; /* secondary text */
  --color-text-300: 82, 82, 82; /* tertiary text */
  --color-text-350: 130, 130, 130;
  --color-text-400: 163, 163, 163; /* placeholder text */

  --color-text-primary: var(--color-primary-100);
  --color-text-error: var(--color-error-200);

  --color-scrollbar: 163, 163, 163; /* scrollbar thumb */

  --color-border-100: 245, 245, 245; /* subtle border= 1 */
  --color-border-200: 229, 229, 229; /* subtle border- 2 */
  --color-border-300: 212, 212, 212; /* strong border- 1 */
  --color-border-400: 185, 185, 185; /* strong border- 2 */

  --color-border-primary: var(--color-primary-40);
  --color-border-error: var(--color-error-100);

  --color-shadow-2xs: 0px 0px 1px 0px rgba(23, 23, 23, 0.06), 0px 1px 2px 0px rgba(23, 23, 23, 0.06),
    0px 1px 2px 0px rgba(23, 23, 23, 0.14);
  --color-shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(16, 24, 40, 0.12),
    0px 1px 8px -1px rgba(16, 24, 40, 0.1);
  --color-shadow-sm: 0px 1px 4px 0px rgba(0, 0, 0, 0.01), 0px 4px 8px 0px rgba(0, 0, 0, 0.02),
    0px 1px 12px 0px rgba(0, 0, 0, 0.12);
  --color-shadow-rg: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(16, 24, 40, 0.08),
    0px 1px 12px 0px rgba(16, 24, 40, 0.04);
  --color-shadow-md: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 6px 12px 0px rgba(16, 24, 40, 0.12),
    0px 1px 16px 0px rgba(16, 24, 40, 0.12);
  --color-shadow-lg: 0px 6px 12px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.12),
    0px 1px 24px 0px rgba(16, 24, 40, 0.12);
  --color-shadow-xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.16), 0px 0px 24px 0px rgba(16, 24, 40, 0.16),
    0px 0px 52px 0px rgba(16, 24, 40, 0.16);
  --color-shadow-2xl: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0px 12px 24px 0px rgba(16, 24, 40, 0.12),
    0px 1px 32px 0px rgba(16, 24, 40, 0.12);
  --color-shadow-3xl: 0px 12px 24px 0px rgba(0, 0, 0, 0.12), 0px 16px 32px 0px rgba(0, 0, 0, 0.12),
    0px 1px 48px 0px rgba(16, 24, 40, 0.12);
  --color-shadow-4xl: 0px 8px 40px 0px rgba(0, 0, 61, 0.05), 0px 12px 32px -16px rgba(0, 0, 0, 0.05);

  --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
  --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
  --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

  --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
  --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
  --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
  --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

  --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
  --color-sidebar-border-200: var(--color-border-100); /* subtle sidebar border- 2 */
  --color-sidebar-border-300: var(--color-border-100); /* strong sidebar border- 1 */
  --color-sidebar-border-400: var(--color-border-100); /* strong sidebar border- 2 */

  --color-sidebar-shadow-2xs: var(--color-shadow-2xs);
  --color-sidebar-shadow-xs: var(--color-shadow-xs);
  --color-sidebar-shadow-sm: var(--color-shadow-sm);
  --color-sidebar-shadow-rg: var(--color-shadow-rg);
  --color-sidebar-shadow-md: var(--color-shadow-md);
  --color-sidebar-shadow-lg: var(--color-shadow-lg);
  --color-sidebar-shadow-xl: var(--color-shadow-xl);
  --color-sidebar-shadow-2xl: var(--color-shadow-2xl);
  --color-sidebar-shadow-3xl: var(--color-shadow-3xl);
  --color-sidebar-shadow-4xl: var(--color-shadow-4xl);

  /* pi */
  --color-pi-50: var(--color-background-90);
  --color-pi-100: var(--color-background-90);
  --color-pi-200: var(--color-primary-200);
  --color-pi-300: var(--color-primary-200);
  --color-pi-400: var(--color-primary-200);
  --color-pi-500: var(--color-primary-200);
  --color-pi-600: 151, 150, 246;
  --color-pi-700: var(--color-primary-100);
  --color-pi-800: 57, 56, 149;
  --color-pi-900: 30, 29, 78;
  --color-pi-950: 14, 14, 37;

  --color-background-dark-100: 25, 25, 25; /* primary bg */
}

.dark {
  --color-background-100: 25, 25, 25; /* primary bg */
  --color-background-90: 32, 32, 32; /* secondary bg */
  --color-background-80: 44, 44, 44; /* tertiary bg */

  --color-background-primary: var(--color-background-90);
  --color-background-error: var(--color-background-90);

  --color-text-primary: var(--color-primary-40);
  --color-text-error: var(--color-error-100);

  --color-border-primary: var(--color-primary-200);
  --color-border-error: var(--color-error-500);

  --color-shadow-2xs: 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  --color-shadow-xs: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  --color-shadow-sm: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  --color-shadow-rg: 0px 0px 6px 0px rgba(0, 0, 0, 0.2), 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  --color-shadow-md: 0px 2px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  --color-shadow-lg: 0px 4px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
  --color-shadow-xl: 0px 0px 14px 0px rgba(0, 0, 0, 0.25), 0px 6px 10px 0px rgba(0, 0, 0, 0.55);
  --color-shadow-2xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.25), 0px 8px 12px 0px rgba(0, 0, 0, 0.6);
  --color-shadow-3xl: 0px 4px 24px 0px rgba(0, 0, 0, 0.3), 0px 12px 40px 0px rgba(0, 0, 0, 0.65);

  /* pi */
  --color-pi-50: var(--color-background-90);
  --color-pi-100: var(--color-background-90);
  --color-pi-200: var(--color-primary-200);
  --color-pi-300: var(--color-primary-200);
  --color-pi-400: var(--color-primary-200);
  --color-pi-500: var(--color-primary-200);
  --color-pi-600: 151, 150, 246;
  --color-pi-700: var(--color-primary-100);
  --color-pi-800: 57, 56, 149;
  --color-pi-900: 30, 29, 78;
  --color-pi-950: 14, 14, 37;

  --color-text-100: 229, 229, 229; /* primary text */
  --color-text-200: 163, 163, 163; /* secondary text */
  --color-text-300: 115, 115, 115; /* tertiary text */
  --color-text-350: 130, 130, 130;
  --color-text-400: 82, 82, 82; /* placeholder text */

  --color-scrollbar: 82, 82, 82; /* scrollbar thumb */

  --color-border-100: 34, 34, 34; /* subtle border= 1 */
  --color-border-200: 38, 38, 38; /* subtle border- 2 */
  --color-border-300: 46, 46, 46; /* strong border- 1 */
  --color-border-400: 58, 58, 58; /* strong border- 2 */

  /* onboarding colors */
  --gradient-onboarding-100: linear-gradient(106deg, #18191b 25.17%, #18191b 99.34%);
  --gradient-onboarding-200: linear-gradient(129deg, rgba(47, 49, 53, 0.8) -22.23%, rgba(33, 34, 37, 0.8) 62.98%);
  --gradient-onboarding-300: linear-gradient(167deg, rgba(47, 49, 53, 0.45) 19.22%, #212225 98.48%);

  --color-onboarding-text-100: 237, 238, 240;
  --color-onboarding-text-200: 176, 180, 187;
  --color-onboarding-text-300: 118, 123, 132;
  --color-onboarding-text-400: 105, 110, 119;

  --color-onboarding-background-100: 54, 58, 64;
  --color-onboarding-background-200: 40, 42, 45;
  --color-onboarding-background-300: 40, 42, 45;
  --color-onboarding-background-400: 67, 72, 79;

  --color-onboarding-border-100: 54, 58, 64;
  --color-onboarding-border-200: 54, 58, 64;
  --color-onboarding-border-300: 34, 35, 38, 0.5;

  --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(39, 44, 56, 0.1);

  /* toast theme */
  --color-toast-success-text: 178, 221, 181;
  --color-toast-error-text: 206, 44, 49;
  --color-toast-warning-text: 255, 186, 24;
  --color-toast-info-text: 141, 164, 239;
  --color-toast-loading-text: 255, 255, 255;
  --color-toast-secondary-text: 185, 187, 198;
  --color-toast-tertiary-text: 139, 141, 152;

  --color-toast-success-background: 46, 46, 46;
  --color-toast-error-background: 46, 46, 46;
  --color-toast-warning-background: 46, 46, 46;
  --color-toast-info-background: 46, 46, 46;
  --color-toast-loading-background: 46, 46, 46;

  --color-toast-success-border: 42, 126, 59;
  --color-toast-error-border: 100, 23, 35;
  --color-toast-warning-border: 79, 52, 34;
  --color-toast-info-border: 58, 91, 199;
  --color-toast-loading-border: 96, 100, 108;

  --color-primary-10: 236, 241, 255;
  --color-primary-20: 217, 228, 255;
  --color-primary-30: 197, 214, 255;
  --color-primary-40: 178, 200, 255;
  --color-primary-50: 159, 187, 255;
  --color-primary-60: 140, 173, 255;
  --color-primary-70: 121, 159, 255;
  --color-primary-80: 101, 145, 255;
  --color-primary-90: 82, 132, 255;
  --color-primary-100: 63, 118, 255;
  --color-primary-200: 57, 106, 230;
  --color-primary-300: 50, 94, 204;
  --color-primary-400: 44, 83, 179;
  --color-primary-500: 38, 71, 153;
  --color-primary-600: 32, 59, 128;
  --color-primary-700: 25, 47, 102;
  --color-primary-800: 19, 35, 76;
  --color-primary-900: 13, 24, 51;

  --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
  --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
  --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

  --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
  --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
  --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
  --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

  --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
  --color-sidebar-border-200: var(--color-border-200); /* subtle sidebar border- 2 */
  --color-sidebar-border-300: var(--color-border-300); /* strong sidebar border- 1 */
  --color-sidebar-border-400: var(--color-border-400); /* strong sidebar border- 2 */
}

.small-hue {
  /* min-height: 100vh; */
  background: radial-gradient(ellipse at center, #bfdcf2 0%, #e4eef9 40%, #f5f6f9 1000%);
  background-attachment: fixed;
}

.inner-rounded::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 1rem; /* same as rounded-lg */
  box-shadow: 0 0 0 999px #fff;
  z-index: 5;
}

@layer utilities {
  .concave-bottom-corners::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background: radial-gradient(circle at left bottom, transparent 0, transparent 12px, white 12px),
      radial-gradient(circle at right bottom, transparent 0, transparent 12px, white 12px);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    z-index: 10;
    pointer-events: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-sidebar-border-100: rgba(245, 245, 245, 1); /* subtle border= 1 */
  --color-custom-sidebar-border-200: rgba(var(--color-sidebar-border-200)); /* subtle border- 2 */
  --color-custom-sidebar-border-300: rgba(var(--color-sidebar-border-300)); /* strong border- 1 */
  --color-custom-sidebar-border-400: rgba(185, 185, 185); /* strong border- 2 */

  --color-custom-border-100: rgba(var(--color-border-100));
  --color-custom-border-200: rgba(var(--color-border-200));

  --color-custom-sidebar-background-100: rgba(var(--color-sidebar-background-100));

  --color-custom-background-100: rgba(var(--color-background-100));
  --color-custom-background-90: rgba(var(--color-background-90));
  --color-custom-background-80: rgba(var(--color-background-80));

  --color-custom-text-100: rgba(var(--color-text-100));
  --color-custom-text-200: rgba(var(--color-text-200));
  --color-custom-text-300: rgba(var(--color-text-300));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
