server:
  port: 8761
spring:
  application:
    name: eureka-server
eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOSTS:localhost}:8761/eureka
    fetch-registry: false
    register-with-eureka: false
  instance:
    hostname: ${EUREKA_HOST:localhost}
logging:
  level:
    "[org.springframework.web]": DEBUG
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
#  zipkin:
#    tracing:
#      endpoint: http://${ZIPKIN_HOST:localhost}:9411
#  tracing:
#    sampling:
#      probability: 1.0
