server:
  port: 8000
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000, http://192.168.1.157:3000"
            exposedHeaders: "page-total-count"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
              - HEAD
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: public
          uri: lb://user-service
          predicates:
            - Path=/ui/v1/auth/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/user/**, /api/v1/auth/**
          filters:
            - name: Auth
        - id: password-service
          uri: lb://password-service
          predicates:
            - Path=/ui/v1/password/**
          filters:
            - name: Auth
        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/ui/v1/task/**, /api/v1/task/**
        # - id: retry
        #   uri: lb://user-service
        #   predicates:
        #     - Path=/ui/v1/auth/registration/**
        #   filters:
        #     - name: Retry
        #       args:
        #         retries: 5
        #         statuses: REQUEST_TIMEOUT, SERVICE_UNAVAILABLE
        #         methods: POST
        #         backoff:
        #           firstBackoff: 10ms
        #           maxBackoff: 50ms
        #           factor: 3
        #           basedOnPreviousValue: false
management:
  endpoint:
    shutdown:
      enabled: true
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: ${EUREKA_HOST:localhost}

logging:
  level:
    "[org.springframework.cloud.gateway]": debug,
    "[org.springframework.http.server.reactive]": debug,
    "[org.springframework.boot.autoconfigure.web]": debug