server:
    port: 8001
spring:
    application:
        name: password-service
    datasource:
        url: jdbc:postgresql://localhost:5432/password-test
        username: sebastian
        password: Twice_Mina1
        driverClassName: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    sql:
        init:
            mode: always
            data-locations: classpath:sql-test/clear-password-db.sql, classpath:sql-test/populate-password-db.sql
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka
        fetch-registry: true
        register-with-eureka: true
    instance:
        hostname: localhost