spring:
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
    user: sebastian
    password: Twice_Mina1

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/user
    driver-class-name: org.postgresql.Driver
    username: sebastian
    password: Twice_Mina1

  cloud:
    vault:
      enabled: false

  rabbitmq:
    listener:
      simple:
        auto-startup: false

eureka:
  client:
    enabled: false

management:
  metrics:
    export:
      enabled: false
  tracing:
    enabled: false

server:
  port: 0
